* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.none {
  display: none !important;
}

.inbox-modal {
  width: 400px;
}

.inbox-modal-window,
.sended-modal-window {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background: #fff; */
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.inbox-modal {
    background-color: #fff;
}
